<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Voluntarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'registroAspirante' %}">Registro de aspirante</a>
                    <a class="dropdown-item" href="{% url 'aspiranteV' %}">Aprobación de Voluntario</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recursos' %}">Recursos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Eventos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'eventos' %}">Solicitud Evento</a>
                    <a class="dropdown-item" href="{% url 'eventosVoluntarios' %}">Asistencia a Evento</a>
                </div>
            </li>
                        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Pagos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'detalleRecursos' %}">Recursos</a>
                    <a class="dropdown-item" href="{% url 'detalleTaller' %}">Taller</a>
                </div>
            </li>
        </ul>
    </div>
</nav>