<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Talleres
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'inscripcionTaller' %}">Inscribirse a talleres</a>
                    <a class="dropdown-item" href="{% url 'talleresInscrito' %}">Mis talleres</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'peticionRecurso' %}">Solicitar Recursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
        </ul>
    </div>
</nav>