<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio Administracion</title>
    {% load static %}

    <script type="text/javascript" src="{% static 'DATA/jQuery-3.3.1/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'DATA/Bootstrap-4-4.1.1/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static  'DATA/Bootstrap-4-4.1.1/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'DATA/tabla.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'DATA/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'DATA/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'DATA/dataTables.select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'DATA/jquery.dataTables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'DATA/jquery.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'DATA/select.dataTables.min.css' %}"/>
</head>

<body>

</body>
</html>